ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: cornflowerblue;
    border: solid black;
}

li {
    float: left;
    border-right: 2px solid black;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: coral;
}

.active {
    background-color: yellow;
}
.container {
    display: flex;
    justify-content: center;
    
}

.boxes {
    border: 3px solid black;
    width: 50px;
    height: auto;
    text-align: center;
    font-size: 25px;
}

#box1 {
    background-color:rebeccapurple;
    width: 30%;
}

#box2 {
    background-color: yellow;
    margin-left: auto;
    width: 30%;
}

#box3 {
    background-color: rebeccapurple;
    margin-left: auto; 
    width: 30%;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7w108PeOyIAjJBlEJ4hL4AshvzloYB9Hg4A&s);
}